{% extends "base/layout.html" %}

{% load staticfiles %}

{% block main %}
<h1>Registrazione presenza</h1>

<div>
    {% if justsaved_banner %}
    <div class="alert alert-success" role="alert">
        Presenza salvata!
    </div>
    {% endif %}
    {% if detailssaved_banner %}
    <div class="alert alert-success" role="alert">
        Dettagli salvati! Puoi procedere con la registrazione della presenza.
    </div>
    {% endif %}

    {% if step == 0 %}
        <a href="{% url 'authentication:login' %}"><button class="form-control btn btn-primary">Effettua il login come galileiano</button></a>
    {% elif step == 1 %}
        <h3>{{ request.user.first_name }}, registra i tuoi dettagli</h3>
        Sarà necessario solo la prima volta. Poi verranno salvati nel sistema.
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div>
                    <ol class="list-group">
                        {% for error in form.non_field_errors %}
                            <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
            <!-- Matricola -->
            <div class="form-group row">
                {% if form.matricola.errors %}
                    <div class="col-sm-12 col-md-12">
                        {% for error in form.matricola.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="col-sm-2 col-md-1">
                <label for="{{ form.matricola.id_for_label }}" class="control-label">{{ form.matricola.label }}:</label>
                </div>
                <div class="col-sm-10 col-md-11 {% if form.matricola.errors %}is-invalid{% endif %}">
                    {{ form.matricola }}
                </div>
            </div>
            <!-- Cell number -->
            <div class="form-group row">
                {% if form.cell_number.errors %}
                    <div class="col-sm-12 col-md-12">
                        {% for error in form.cell_number.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="col-sm-2 col-md-1">
                <label for="{{ form.cell_number.id_for_label }}" class="control-label">{{ form.cell_number.label }}:</label>
                </div>
                <div class="col-sm-10 col-md-11 {% if form.cell_number.errors %}is-invalid{% endif %}">
                    {{ form.cell_number }}
                </div>
            </div>
            <input type="submit" value="Salva" class="form-control btn btn-info">
        </form>
    {% elif step == 2 %}
        <h3>Registra come {{ user.first_name }} {{ user.last_name }}</h3>
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div>
                    <ol class="list-group">
                        {% for error in form.non_field_errors %}
                            <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
            <!-- Event -->
            <div class="form-group row">
                {% if form.event.errors %}
                    <div class="col-sm-12 col-md-12">
                        {% for error in form.event.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="col-sm-2 col-md-1">
                <label for="{{ form.event.id_for_label }}" class="control-label">{{ form.event.label }}:</label>
                </div>
                <div class="col-sm-10 col-md-11 {% if form.event.errors %}is-invalid{% endif %}">
                    {{ form.event }}
                </div>
            </div>
            <!-- Chair -->
            <div class="form-group row">
                {% if form.chair.errors %}
                    <div class="col-sm-12 col-md-12">
                        {% for error in form.chair.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="col-sm-2 col-md-1">
                <label for="{{ form.chair.id_for_label }}" class="control-label">{{ form.chair.label }}:</label>
                </div>
                <div class="col-sm-10 col-md-11 {% if form.chair.errors %}is-invalid{% endif %}">
                    {{ form.chair }}
                </div>
            </div>
            <input type="submit" value="Salva" class="form-control btn btn-info">
        </form>
    {% endif %}

    <a href="{% url 'attendances:foreign_register' %}"><button class="form-control btn btn-secondary mt-3">Registra utente esterno</button></a>

    {% if perms.attendances.get_attendances_data %}
    <a href="{% url 'attendances:extract_data' %}"><button class="form-control btn btn-secondary mt-3">Estrai dati</button></a>
    {% endif %}
</div>
{% endblock main %}
