{% extends "base/layout.html" %}

{% load staticfiles %}

{% block main %}
<h1>Registrazione presenza</h1>

<div>
    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div>
                <ol class="list-group">
                    {% for error in form.non_field_errors %}
                        <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
        <!-- Event -->
        <div class="form-group row">
            {% if form.event.errors %}
                <div class="col-sm-12 col-md-12">
                    {% for error in form.event.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.event.id_for_label }}" class="control-label">{{ form.event.label }}:</label>
            </div>
            <div class="col-sm-10 col-md-11 {% if form.event.errors %}is-invalid{% endif %}">
                {{ form.event }}
            </div>
        </div>
        <!-- Chair -->
        <div class="form-group row">
            {% if form.chair.errors %}
                <div class="col-sm-12 col-md-12">
                    {% for error in form.chair.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.chair.id_for_label }}" class="control-label">{{ form.chair.label }}:</label>
            </div>
            <div class="col-sm-10 col-md-11 {% if form.chair.errors %}is-invalid{% endif %}">
                {{ form.chair }}
            </div>
        </div>
        <!-- Name and Surname -->
        <div class="form-group row">
            {% if form.first_name.errors %}
                <div class="col-sm-12 col-md-12">
                    {% for error in form.first_name.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.first_name.id_for_label }}" class="control-label">{{ form.first_name.label }}:</label>
            </div>
            <div class="col-sm-10 col-md-11 {% if form.first_name.errors %}is-invalid{% endif %}">
                {{ form.first_name }}
            </div>
            {% if form.last_name.errors %}
                <div class="col-sm-12 col-md-12">
                    {% for error in form.last_name.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.last_name.id_for_label }}" class="control-label">{{ form.last_name.label }}:</label>
            </div>
            <div class="col-sm-10 col-md-11 {% if form.last_name.errors %}is-invalid{% endif %}">
                {{ form.last_name }}
            </div>
        </div>
        <!-- Matricola -->
        <div class="form-group row">
            {% if form.matricola.errors %}
                <div class="col-sm-12 col-md-12">
                    {% for error in form.matricola.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.matricola.id_for_label }}" class="control-label">{{ form.matricola.label }}:</label>
            </div>
            <div class="col-sm-10 col-md-11 {% if form.matricola.errors %}is-invalid{% endif %}">
                {{ form.matricola }}
            </div>
        </div>
        <!-- Contacts -->
        <div class="form-group row">
            {% if form.cell_number.errors %}
                <div class="col-sm-12 col-md-12">
                    {% for error in form.cell_number.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.cell_number.id_for_label }}" class="control-label">{{ form.cell_number.label }}:</label>
            </div>
            <div class="col-sm-10 col-md-11 {% if form.cell_number.errors %}is-invalid{% endif %}">
                {{ form.cell_number }}
            </div>
            {% if form.email.errors %}
                <div class="col-sm-12 col-md-12">
                    {% for error in form.email.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.email.id_for_label }}" class="control-label">{{ form.email.label }}:</label>
            </div>
            <div class="col-sm-10 col-md-11 {% if form.email.errors %}is-invalid{% endif %}">
                {{ form.email }}
            </div>
        </div>
        <input type="submit" value="Salva" class="form-control btn btn-info">
    </form>
</div>
{% endblock main %}
