{% extends "base/layout.html" %}

{% load staticfiles %}

{% block head-extra %}
<link href="{% static 'events/css/custom.css' %}" rel="stylesheet" />
{% endblock head-extra %}

{% block main %}
<h1>Agenda</h1>

<div class="row">
  <div class="col-md-5">
      <div class="btn-group">
          <a href="{% url 'events:agenda' %}" class="btn {% if not clas %}btn-info{% else %}btn-default{% endif %}">Tutto</a>
          <a href="{% url 'events:agenda' "SM" %}" class="btn {% if clas == 'SM' %}btn-info{% else %}btn-default{% endif %}">SM</a>
          <a href="{% url 'events:agenda' "SN" %}" class="btn {% if clas == 'SN' %}btn-info{% else %}btn-default{% endif %}">SN</a>
          <a href="{% url 'events:agenda' "SS" %}" class="btn {% if clas == 'SS' %}btn-info{% else %}btn-default{% endif %}">SS</a>
          <a href="{% url 'events:agenda' "A" %}" class="btn {% if clas == 'A' %}btn-info{% else %}btn-default{% endif %}">Altro</a>
      </div>
  </div>
</div>

{% if not list %}

<div class="panel">
    <p class="top-buffer">Nessun evento.</p>
</div>

{% else %}

<table class="table table-striped table-hover" id="table_events">
  <thead>
    <tr>
      <th class="fit-column">Data</th>
      <th class="fit-column">Orario</th>
      <th class="fit-column">Aula</th>
      <th>Attività</th>
    </tr>
  </thead>
  <tbody>
  {% for e in list %}
      <tr>
        <td class="fit-column">{{ e.start|date:"d/m/Y" }}</td>
        <td class="fit-column">{{ e.start|date:"G:i" }} - {{ e.end|date:"G:i" }}</td>
        <td class="fit-column"><a href="{% url "rooms:details" e.room.pk %}">{{ e.room.get_full_name }}</a></td>
        <td><a href="{% url "activities:details" e.activity.pk %}">{{ e.activity.get_full_title }}</a></td>
      </tr>
  {% endfor %}
  </tbody>
</table>

<div id="pagination" class="container-fluid">
    <ul class="pager">
        {% if list.has_previous %}
            <li class="previous">
              {% if clas %}
                <a href="{% url 'events:agenda' clas list.previous_page_number %}"><span>&laquo; Precedenti</span></a>
              {% else %}
                <a href="{% url 'events:agenda' list.previous_page_number %}"><span>&laquo; Precedenti</span></a>
              {% endif %}
            </li>
        {% else %}
            <li class="previous disabled"><span>&laquo; Precedenti</span></li>
        {% endif %}
            <li><span>Pagina {{ list.number }} di {{ list.paginator.num_pages }}</span></li>
        {% if list.has_next %}
            <li class="next">
              {% if clas %}
                <a href="{% url 'events:agenda' clas list.next_page_number %}"><span>Successivi &raquo;</span></a>
              {% else %}
                <a href="{% url 'events:agenda' list.next_page_number %}"><span>Successivi &raquo;</span></a>
              {% endif %}
            </li>
        {% else %}
            <li class="next disabled"><span>Successivi &raquo;</span></li>
        {% endif %}
    </ul>
</div>

{% endif %}

{% endblock main %}
