{% extends "base/layout.html" %}

{% block main %}
<h1>Agenda</h1>
<p>Lista degli eventi</p>

<div id="pagination" class="container-fluid">
	<ul class="pager">
		{% if list.has_previous %}
            <li class="previous"><a href="{% url 'events:agenda' list.previous_page_number %}"><span>&laquo; Precedenti</span></a></li>
        {% else %}
            <li class="previous disabled"><span>&laquo; Precedenti</span></li>
        {% endif %}
        {% if list.has_next %}
            <li class="next"><a href="{% url 'events:agenda' list.next_page_number %}"><span>Successivi &raquo;</span></a></li>
        {% else %}
            <li class="next disabled"><span>Successivi &raquo;</span></li>
        {% endif %}
    </ul>
</div>

<table class="table table-striped table-hover" id="table_events">
  <thead>
    <tr>
      <th>Data</th>
      <th>Orario</th>
      <th>Luogo</th>
      <th>Attività</th>
    </tr>
  </thead>
  <tbody>
  {% for e in list %}
      <tr>
        <td>{{ e.start|date:"DATE_FORMAT" }}</td>
        <td>{{ e.start|date:"G:i" }} - {{ e.end|date:"G:i" }}</td>
        <td>{{ e.room.name }}</td>
        <td><a href="{% url "activities:details" e.activity.pk %}">{{ e.activity.title }}</a></td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock main %}
