{% extends "base/layout.html" %}

{% block main %}
<h1>Agenda</h1>
<p>Lista degli eventi</p>

<div id="pagination" class="container-fluid">
	<ul class="pager">
		{% if list.has_previous %}
            <li class="previous"><a href="{% url 'events:agenda' list.previous_page_number %}"><span>&laquo; Precedenti</span></a></li>
        {% else %}
            <li class="previous disabled"><span>&laquo; Precedenti</span></li>
        {% endif %}
        {% if list.has_next %}
            <li class="next"><a href="{% url 'events:agenda' list.next_page_number %}"><span>Successivi &raquo;</span></a></li>
        {% else %}
            <li class="next disabled"><span>Successivi &raquo;</span></li>
        {% endif %}
    </ul>
</div>

<ul>
{% for event in list %}
  <li>Aula: {{ event.room.name }} <br/>
      Attività: <a href="{% url "activities:details" event.activity.pk %}"> {{ event.activity.title }} </a><br/>
      Inizio: {{ event.start }} <br/>
      Fine: {{ event.end }}
  </li>
  <br/>
{% endfor %}
</ul>
{% endblock main %}
