{% extends "base/layout.html" %}

{% load staticfiles %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker-it.js' %}"></script>

<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.structure.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.theme.css' %}" rel="stylesheet" />
{% endblock head-extra %}

{% block main %}
<h1>Calendario delle prenotazioni</h1>
<div class="container-fluid">
	<div class="col-sm-6 col-md-5 col-lg-4">
		<br/>
		<big><div id="calendar"></div></big>
	</div>
	{% include "events/calendar_table.html" %}
</div>
{% endblock main %}

{% block post-body-script %}
<script type="text/javascript">
	var calendarWidget = $("#calendar").datepicker({dateFormat: "yy/mm/dd"});
	var date = $.datepicker.parseDate("yy/mm/dd", "{{ date | date:'Y/m/d' }}");
	calendarWidget.datepicker("setDate", date);
	calendarWidget.datepicker("option", "onSelect", function (selectedDate) {
		var url = "{% url "events:calendar" %}" + "/" + selectedDate;
		$.get(url).done(function (result) {
			$("#events-table").replaceWith(result);
		});
	});
</script>
{% endblock %}