{% extends "base/layout.html" %}

{% load staticfiles %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker-it.js' %}"></script>

<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.structure.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.theme.css' %}" rel="stylesheet" />
<link href="{% static 'events/css/custom.css' %}" rel="stylesheet" />
{% endblock head-extra %}

{% block main %}
<h1>Calendario delle prenotazioni</h1>
<div class="container-fluid">
	<div class="col-sm-6 col-md-5 col-lg-4">
		<br/>
		<div id="calendar"></div>
	</div>
	<div class="col-sm-6 col-md-7 col-lg-8" id="events-table">
		<h3>Prenotazioni per <span id="date_title">{{ date | date:'d F Y' }}</span></h3>
		{% if events %}
			{% regroup events|dictsort:"room_id" by room as events_by_room %}
			{% for room_events in events_by_room %}
				<h4>{{ room_events.grouper.name }}</h4>
				<table class="table table-hover table-striped" id="table_events">
					<thead>
						<tr>
							<th>Orario</th>
							<th>Attività</th>
							<th>Descrizione</th>
						</tr>
					</thead>
					<tbody>
						{% for e in room_events.list %}
							<tr class="row-calendar">
								<td>{{ e.start|date:"G:i" }} - {{ e.end|date:"G:i" }}</td>
								<td><a href="{% url "activities:details" e.activity.pk %}">{{ e.activity.title }}</a></td>
								<td>{{ e.activity.description }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
		{% else %}
			<p>Nessuna prenotazione per questo giorno.</p>
		{% endif %}
	</div>
</div>
{% endblock main %}


{% block end-body-script %}
<script type="text/javascript">
	var calendarWidget = $("#calendar").datepicker({dateFormat: "yy/mm/dd"});
	var date = $.datepicker.parseDate("yy/mm/dd", "{{ date | date:'Y/m/d' }}");
	calendarWidget.datepicker("setDate", date);
	calendarWidget.datepicker("option", "onSelect", function (selectedDate) {
		window.location.href = "{% url 'events:calendar' %}" + "/" + selectedDate;
	});
</script>
{% endblock %}
