{% extends "base/layout.html" %}

{% load staticfiles %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker-it.js' %}"></script>

<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.structure.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.theme.css' %}" rel="stylesheet" />
<link href="{% static 'events/css/custom.css' %}" rel="stylesheet" />
{% endblock head-extra %}

{% block main %}
<h1>Calendario delle prenotazioni</h1>
<div class="container-fluid">
	<div class="col-sm-6 col-md-5 col-lg-4">
		<br/>
		<div id="calendar"></div>
	</div>
	{% include "events/calendar_table.html" %}
</div>
{% endblock main %}

{% block end-body-script %}
<script type="text/javascript">
	var calendarWidget = $("#calendar").datepicker({dateFormat: "yy/mm/dd"});
	var date = $.datepicker.parseDate("yy/mm/dd", "{{ date | date:'Y/m/d' }}");
	calendarWidget.datepicker("setDate", date);
	calendarWidget.datepicker("option", "onSelect", function (selectedDate) {
		var url = "{% url "events:calendar" %}" + "/" + selectedDate;
		$.get(url).done(function (result) {
			$("#events-table").replaceWith(result);
			// Change the url of the page, so that reloading does not change
			// the page. This is important for the user experience.
			window.history.pushState({"html": result}, "", url);
		});
	});

	// Load the correct content when clicking on back/forward button
	window.onpopstate = function(e){
		if (e.state){
			$("#events-table").replaceWith(e.state.html);
		}
	};
</script>
{% endblock %}