{% load staticfiles %}
<!DOCTYPE html>
<html lang="it">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{% block page_title %}Booking SGSS{% endblock %}</title>

	<link href="{% static 'favicon.png' %}" rel="icon" type="image/png" />

	<!-- ADD CSS HERE -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" />
  <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
  <link href="{% static 'events/css/custom.css' %}" rel="stylesheet" />
  <link href="{% static 'events/css/monitor.css' %}" rel="stylesheet" />

	<!-- ADD SCRIPT HERE -->
	<script type="text/javascript" src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'events/js/monitor.js' %}"></script>

    {% block head-extra %}
        <!-- ADD EXTRA CSS OR SCRIPT HERE -->
    {% endblock %}

	<style type="text/css">
    	{% block head-css-style %}
        {% endblock %}
	</style>
    <script type="text/javascript">
        {% block head-script %}
        {% endblock %}
    </script>
</head>

<body>
<div>
    <img src="{% static 'events/img/monitor/top.jpg' %}" class="top-image" alt="Scuola Galileiana di Studi Superiori - Pannello informativo" />
</div>
<div class="container-fluid main-container">
	<div class="row">
        {% if eventsImportant or eventsOther %}
		{% if news %}
		<div class="col-md-8">
		{% else %}
		<div class="col-md-12">
		{% endif %}
    	<h2>Prenotazione Aule - {{ date | date:'d F Y' }} </h2>

        {% if eventsImportant %}
            <div>
                <h3>Aule del Collegio Morgagni</h3>
                <div id="important-event-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="12000">
                <div class="carousel-inner" role="listbox">
                    {% for page in  eventsImportant %}
                        <div class="item{% if forloop.first %} active{% endif %}">
                            <table>
                                <tbody>
                                    {% for name, list in page %}
                            				<tr>
                            					<td colspan="2" class="head">{{ name }}</td>
                            				</tr>
                        				{% for e in list %}
                        					<tr>
                        						<td>{{ e.start|date:"G:i" }} - {{ e.end|date:"G:i" }}</td>
                        						<td>{{ e.activity.title }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
                {% if eventsImportantIndicator %}
                <ol class="carousel-indicators">
                    {% for page in  eventsImportant %}
                    <li data-target="#important-event-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                 </ol>
                 {% endif %}
                </div>
            </div>
        {% endif %}

        {% if eventsOther %}
            <div>
                <h3>Altre aule</h3>
                <div id="other-event-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
                <div class="carousel-inner" role="listbox">
                    {% for page in  eventsOther %}
                        <div class="item{% if forloop.first %} active{% endif %}">
                            <table>
                                <tbody>
                                    {% for name, list in page %}
                                            <tr>
                                                <td colspan="2" class="head">{{ name }}</td>
                                            </tr>
                                        {% for e in list %}
                                            <tr>
                                                <td>{{ e.start|date:"G:i" }} - {{ e.end|date:"G:i" }}</td>
                                                <td>{{ e.activity.title }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
                {% if eventsOtherIndicator %}
                <ol class="carousel-indicators">
                    {% for page in  eventsOther %}
                    <li data-target="#other-event-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                 </ol>
                 {% endif %}
                </div>
            </div>
        {% endif %}
        </div>

		{% endif %}

    	{% if news %}
        <div class="col-md-4">
			<h2>Avvisi {% if not events %} - {{ date | date:'d F Y' }}{% endif %}</h2>
			<table>
            <tbody>
				{% for n in news %}
					<tr>
                        <td class="head">{{ n.title }}</td>
                    </tr>
                    <tr>
					   <td>{{ n.content }}</td>
                    </tr>
				{% endfor %}
            </tbody>
			</table>
        </div>
    	{% endif %}

        {% if not eventsImportant and not eventsOther and not news %}
            <div class="col-md-12">
                <h2>Prenotazione Aule - {{ date | date:'d F Y' }} </h2>
                <div class="alert alert-default top-buffer" role="alert">
                    Nessuna prenotazione per questo giorno.
                </div>
            </div>
        {% endif %}
	</div>
</div>
{% block end-body-script %}
{% endblock %}

</body>
</html>
