{% load staticfiles %}
<!DOCTYPE html>
<html lang="it">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{% block page_title %}Booking SGSS{% endblock %}</title>

	<link href="{% static 'favicon.png' %}" rel="icon" type="image/png" />

	<!-- ADD CSS HERE -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" />
  <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
  <link href="{% static 'events/css/custom.css' %}" rel="stylesheet" />
  <link href="{% static 'events/css/monitor.css' %}" rel="stylesheet" />

	<!-- ADD SCRIPT HERE -->
	<script type="text/javascript" src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

    {% block head-extra %}
        <!-- ADD EXTRA CSS OR SCRIPT HERE -->
    {% endblock %}

	<style type="text/css">
    	{% block head-css-style %}
        {% endblock %}
	</style>
    <script type="text/javascript">
        {% block head-script %}
        {% endblock %}
    </script>
</head>

<body>
<img src="{% static 'events/img/monitor/top.jpg' %}" class="top-image"></img>
<div class="container">
	<div class="row">
		{% if news %}
		<div class="col-md-8">
		{% else %}
		<div class="col-md-12">
		{% endif %}
		{% if events %}
    	<h3>Prenotazione Aule - {{ date | date:'d F Y' }} </h3>
  		{% regroup events|dictsort:"room_id" by room as events_by_room %}
      <table d="table_events">
        {% for room_events in events_by_room %}
				<thead>
					<tr>
						<th>{{ room_events.grouper.name }}</th>
            <th/>
					</tr>
				</thead>
				<tbody>
					{% for e in room_events.list %}
						<tr>
							<td>{{ e.start|date:"G:i" }} - {{ e.end|date:"G:i" }}</td>
							<td>{{ e.activity.title }}</td>
            </tr>
					{% endfor %}
        </tbody>
        {% endfor %}
			</table>
		{% endif %}
    </div>

		{% if news %}
    <div class="col-md-4">
			<h3>Avvisi</h3>
			<table>
				{% for n in news %}
				<thead>
					<th>{{ n.title }}</th>
				</thead>
				<tbody>
					<td>{{ n.content }}</td>
				</tbody>
				{% endfor %}
			</table>
    </div>
		{% endif %}
	</div>
</div>

{% block end-body-script %}
{% endblock %}

</body>
</html>
