{% load staticfiles %}
<!DOCTYPE html>
<html lang="it">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{% block page_title %}Booking SGSS{% endblock %}</title>

	<link href="{% static 'favicon.png' %}" rel="icon" type="image/png" />

	<!-- ADD CSS HERE -->
  <link href="{% static 'events/css/custom.css' %}" rel="stylesheet" />

	<!-- ADD SCRIPT HERE -->
	<script type="text/javascript" src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

    {% block head-extra %}
        <!-- ADD EXTRA CSS OR SCRIPT HERE -->
    {% endblock %}

	<style type="text/css">
    	{% block head-css-style %}
        {% endblock %}
	</style>
    <script type="text/javascript">
        {% block head-script %}
        {% endblock %}
    </script>
</head>

<body>

  <h1>Prenotazione Aule - {{ date | date:'d F Y' }} </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      {% if events %}
    		{% regroup events|dictsort:"room_id" by room as events_by_room %}
    		{% for room_events in events_by_room %}
        {{ room_events.grouper.name }}
        <table class="table table-striped" id="table_events">
					<thead>
						<tr>
							<th>Orario</th>
							<th>Attività</th>
						</tr>
					</thead>
					<tbody>
						{% for e in room_events.list %}
							<tr class="row-calendar">
								<td>{{ e.start|date:"G:i" }} - {{ e.end|date:"G:i" }}</td>
								<td>{{ e.activity.title }}</td>
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
      {% endif %}
      </div>
      <div class="col-md-2">
        <!-- news -->
      </div>
    </div>
  </div>

{% block end-body-script %}
{% endblock %}

</body>
</html>
