# Temporary files
*~

# Python files
__pycache__/
*.pyc
*.pyo

# Database files
*.sqlite3

# Django files
migrations/

# Local (production) settings
local_settings.py

# Compiled translation files
*.mo
