{% extends "base/layout.html" %}

{% load staticfiles %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker-it.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forms.js' %}"></script>

<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.structure.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.theme.min.css' %}" rel="stylesheet" />
{% endblock head-extra %}

{% block main %}
<h1>{% if edit %}Modifica avviso{% else %}Crea nuovo avviso{% endif %}</h1>


<div>
    <form method="POST" action="">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div>
                <ol class="list-group">
                    {% for error in form.non_field_errors %}
                        <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group {% if field.errors %}is-invalid{% endif %}">
                {{ field.label_tag }}
                {% if field.errors %}
                    <div>
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Salva" class="form-control btn btn-info">
    </form>
</div>
{% endblock main %}
