{% extends "base/layout.html" %}

{% load staticfiles %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'news/js/list.js' %}"></script>
{% endblock head-extra %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-9 col-sm-10">
      <h1>Avvisi</h1>
    </div>
    {% if user.is_authenticated %}
      {% if perms.news.add_news %}
        <div class="col-3 col-sm-2">
          <h1><a href="{% url "news:new" %}" class="btn btn-success">Nuovo</a></h1>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>

<div class="panel-group" id="accordion" role="tablist">
	{% if not news_list %}
		Non ci sono avvisi.
	{% else %}
  	<div class="">
		{% for e in news_list %}
    		<div class="btn btn-light w-100 mb-1" role="tab" id="heading{{ e.pk }}">
       			<div role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ e.pk }}">
                    <div class="row">
      					<span class="col-md-8 text-left text-primary">{{ e.title }}</span>
      					<span class="col-md-3">{{ e.start | date:'d/m/y' }} - {{ e.end | date:'d/m/y' }}</span>
                        {% if user.is_authenticated %}
                            <span class="col-md-1">
                                {% if perms.news.change_news %}
                                    <a href="{% url "news:edit" pk=e.pk %}" class="btn btn-info btn-sm"><span class="fas fa-edit"></span></a>
                                {% endif %}
                                {% if perms.news.delete_news %}
                                    <a href="{% url "news:delete" pk=e.pk %}" class="btn btn-danger btn-sm"><span class="fas fa-trash-alt"></span></a>
                                {% endif %}
                            </span>
                        {% endif %}
                    </div>
        		</div>
    		</div>
    		<div id="collapse{{ e.pk }}" class="collapse show card mb-2" role="tabpanel">
      			<div class="card-body">
        			{{ e.content }}
      			</div>
			</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock main %}
