{% extends "base/layout.html" %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h1>Avvisi</h1>
    </div>
    <div class="col-xs-2">
      <h1><a href="{% url "news:new" %}" class="btn btn-success">Nuovo</a></h1>
    </div>
  </div>
</div>

<div class="panel-group" id="accordion" role="tablist">
	{% if not news_list %}
		Non ci sono avvisi.
	{% else %}
  	<div class="panel panel-default">
		{% for e in news_list %}
    		<div class="panel-heading" role="tab" id="heading{{ e.pk }}">
				<div class="row">
      				<h4 class="panel-title">
       					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ e.pk }}">
  							<span class="col-md-8">{{ e.title }}</span>
  							<span class="col-md-3">{{ e.start | date:'d/m/y' }} - {{ e.end | date:'d/m/y' }}</span>
                {% if user.is_authenticated %}
                  <span class="col-md-1">
                    <a href="{% url "news:edit" pk=e.pk %}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url "news:delete" pk=e.pk %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                  </span>
                {% endif %}
        				</a>
      				</h4>
				</div>
    		</div>
    		<div id="collapse{{ e.pk }}" class="panel-collapse collapse {% if forloop.first %} in {% endif %}" role="tabpanel">
      			<div class="panel-body">
        			{{ e.content }}
      			</div>
			</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock main %}
