{% extends "base/layout.html" %}

{% load staticfiles %}

{% block head-extra %}
<link href="{% static 'news/css/message.css' %}" rel="stylesheet" />

{% endblock head-extra %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ activity.get_full_title }}</h1>
      <h2>Messaggi</h2>
      <br  />
    </div>
  </div>
</div>

{% if can_send %}
<div class="panel panel-info">
    <div class="panel-heading lead no-margin-bottom"><b>Invia un messaggio</b></div>
    <div class="panel-body">
        <form method="POST" class="form-horizontal">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="col-xs-12">
                    <ol class="list-group">
                        {% for error in form.non_field_errors %}
                            <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}

            {% if form.title.errors %}
                <div class="col-xs-12">
                    <ol class="list-group">
                        {% for error in form.title.errors %}
                            <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}" class="control-label col-xs-12 col-sm-2 col-md-1">{{ form.title.label }}:</label>
                <div class="col-xs-12 col-sm-10 col-md-11 {% if form.title.errors %}has-error{% endif %}">
                    {{ form.title }}
                </div>
            </div>

            {% if form.content.errors %}
                <div class="col-xs-12">
                    <ol class="list-group">
                        {% for error in form.content.errors %}
                            <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ form.content.id_for_label }}" class="control-label col-xs-12 col-sm-2 col-md-1">Messaggio:</label>
                <div class="col-xs-12 col-sm-10 col-md-11 {% if form.content.errors %}has-error{% endif %}">
                    {{ form.content }}
                </div>
            </div>
            <input type="submit" value="Invia" class="btn btn-info col-sm-offset-2 col-md-offset-1" />
        </form>
    </div>
</div>
{% endif %}

<div>
    {% for m in messages %}
        <div class="panel panel-default">
            <div class="panel-heading lead no-margin-bottom"><b>{{ m.title }}</b></div>
            <div class="panel-body">
                <p>
                    {{ m.content|linebreaksbr }}
                </p>
            </div>
             <div class="panel-footer"><i>{{ m.creator.get_full_name }}</i> - {{ m.time|date:'d/m/Y H:i' }}</div>
        </div>
    {% empty %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Nessun messaggio per questa attività.</h4>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock main %}
