#filter-form .form-group {
	padding-right: 15px;
}

.badge-warning {
    background-color: #f0ad4e;
}

hr {
		margin-top: 20px;
		padding-bottom: 0px;
		margin-bottom: 5px;
}

.building_name a {
		text-decoration: none;
}

.dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
