body {
  font-size: 230%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

td {
  padding: 5px;
}

table {
  border-collapse: collapse;
}

table .head {
  border-top: 1px solid grey;
  padding: 0px;
  font-weight: bold;
}

.top-image {
  width: 100%;
}

h2 {
  font-style: italic;
  font-size: 160%;
}

h3 {
  padding-bottom: 8px;
  font-style: italic;
  font-size: 130%;
}

.main-container {
    background: white;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

.top-buffer {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*CAROUSEL FADE*/

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

/* CAROUSEL INDICATOR */

.carousel-indicators li {
  background-color: rgba(70,70,70,.25) !important;
  border-color: #888;
}

.carousel-indicators .active {
  background-color: #444 !important;
}

.carousel-indicators {
  position: relative;
  top: 0;
  bottom: 0;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
  left: 0;
}