body {
  font-size: 180%;
}

th, td {
  padding: 5px;
}

table {
  border-collapse: collapse;
}

table thead th {
  border-top: 1px solid grey;
}

img {
  width: 100%;
}

.lateral-border {
  background-color: grey;
  height: 100%;
}
