body {
  font-size: 145%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

td {
  padding: 5px;
}

table {
  border-collapse: collapse;
}

table .head {
  border-top: 2px solid #9b0014;
  padding: 0px;
  font-weight: bold;
}

h2 {
  font-size: 160%;
  font-variant: small-caps;
}

h3 {
  padding-bottom: 8px;
  font-size: 125%;
}

.main-container {
    background: white;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

.top-buffer {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* UniPd Style */
.monitor_header {
    background-color: #9b0014;
    height: 85px;
    width: 100%;
}

.monitor_footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    background-color: #9b0014;
    width: 100%;
}

/* CAROUSEL INDICATOR */

.carousel-indicators li {
  background-color: rgba(70,70,70,.25) !important;
  border-color: #888;
}

.carousel-indicators .active {
  background-color: #444 !important;
}

.carousel-indicators {
  position: relative;
  top: 0;
  bottom: 0;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
  left: 0;
}
