#events_table_wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;

#edit-a {
        margin-top: 8px;
        margin-bottom: 10px;
    }

    #events_table td.text-center {
        width: 1px !important;
}
