{% extends "base/layout.html" %}

{% block main %}
<!-- Room -->
<div class="row">
	<div class="col-xs-10">
		<h1>{{ room.name }}</h1>
	</div>
	{% if user.is_authenticated %}
				{% if perms.rooms.change_room %}
			<div class="col-xs-2">
				<h1><a href="{% url "rooms:editRoom" room.pk %}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Modifica</a></h1>
			</div>
		{% endif %}
	{% endif %}
</div>
</br>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3 col-sm-2 col-lg-1">
			<ul class="list-unstyled">
				<li>Nome:</li>
				<li>Descrizione:</li>
			</ul>
		</div>
		<div class="col-xs-9 col-sm-10 col-lg-11">
			<ul class="list-unstyled">
				<li>{{ room.name }}</li>
				<li>{{ room.description }}</li>
			</ul>
		</div>
	</div>
	<!-- RoomRules -->
	{% if roomRules %}
	<h3>
		Restrizioni degli orari
	</h3>
	<table class="table table-striped table-hover">
		<tr>
			<th>Giorno</th>
			<th>Orario di apertura</th>
			<th>Orario di chiusura</th>
		</tr>
	{% for rule in roomRules %}
		<tr>
			<td>{{ rule.day }}</td>
			<td>{{ rule.opening_time | date:'H:i' }}</td>
			<td>{{ rule.closing_time | date:'H:i' }}</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
	<!-- Building -->
	<h3>
		edificio
	</h3>
	<div class="col-xs-3 col-sm-2 col-lg-1">
		<ul class="list-unstyled">
			<li>Nome:</li>
			<li>Indirizzo:</li>
		</ul>
	</div>
	<div class="col-xs-9 col-sm-10 col-lg-11">
		<ul class="list-unstyled">
			<li>{{ building.name }}</li>
			<li>{{ building.address }}</li>
		</ul>
		<iframe
			width="800"
			height="450" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?key={{ API_KEY }}&q={{ building.get_address_for_url }}" allowfullscreen>
		</iframe>
	</div>
</div>
{% endblock main %}
