{% extends "base/layout.html" %}

{% block main %}
<h1>Dettaglio dell'aula {{ room.name }}</h1>
<br />
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3 col-sm-2 col-lg-1">
			<ul class="list-unstyled">
				<li>Nome:</li>
				<li>Descrizione:</li>
			</ul>
		</div>
		<div class="col-xs-9 col-sm-10 col-lg-11">
			<ul class="list-unstyled">
				<li>{{ room.name }}</li>
				<li>{{ room.description }}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h3>
			edificio
		</h3>
			<div class="col-xs-3 col-sm-2 col-lg-1">
				<ul class="list-unstyled">
					<li>Nome:</li>
					<li>Indirizzo:</li>
				</ul>
			</div>
			<div class="col-xs-9 col-sm-10 col-lg-11">
				<ul class="list-unstyled">
					<li>{{ building.name }}</li>
					<li>{{ building.address }}</li>
				</ul>
				<iframe
  				width="600"
  				height="450"
  				frameborder="0" style="border:0"
  				src="https://www.google.com/maps/embed/v1/place?key={{ API_KEY }}&q={{ building.address }}" allowfullscreen>
				</iframe>
			</div>
	</div>
</div>
{% endblock main %}
