{% extends "base/layout.html" %}
{% load staticfiles %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'rooms/js/edit.js' %}"></script>

<link href="{% static 'rooms/css/edit.css' %}" rel="stylesheet" />
{% endblock head-extra %}

{% block main %}

<form method="POST">
<!-- Modify room -->
  <h1>{% if edit %}Modifica Aula{% else %}Crea nuova aula{% endif %}</h1>
  <fieldset>
  <div>
    {% csrf_token %}

    {% if roomForm.non_field_errors %}
      <div>
        <ol class="list-group">
          {% for error in roomForm.non_field_errors %}
            <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    {% if roomForm.name.errors %}
      <div>
        {% for error in roomForm.name.errors %}
          <p class="text-danger">{{ error|escape }}</p>
        {% endfor %}
      </div>
    {% endif %}
    {% if roomForm.important.errors %}
      <div>
        {% for error in roomForm.important.errors %}
          <p class="text-danger">{{ error|escape }}</p>
        {% endfor %}
      </div>
    {% endif %}
    {% if perms.rooms.can_change_important %}
      <div class="row">
        <div class="col-2">
          {{ roomForm.name.label_tag }}
        </div>
        <div class="col-7 form-group {% if roomForm.name.errors %}is-invalid{% endif %}">
          {{ roomForm.name }}
        </div>
        <div class="col-2">
          {{ roomForm.important.label_tag }}
        </div>
        <div class="col-1 form-group {% if roomForm.important.errors %}is-invalid{% endif %}">
          {{ roomForm.important }}
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-2">
          {{ roomForm.name.label_tag }}
        </div>
        <div class="col-10 form-group {% if roomForm.name.errors %}is-invalid{% endif %}">
          {{ roomForm.name }}
        </div>
      </div>
      {{ roomForm.important.as_hidden }}
    {% endif %}
    {% if roomForm.description.errors %}
      <div>
        {% for error in roomForm.description.errors %}
          <p class="text-danger">{{ error|escape }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-2">
        {{ roomForm.description.label_tag }}
      </div>
      <div class="col-10 form-group {% if roomForm.description.errors %}is-invalid{% endif %}">
        {{ roomForm.description }}
      </div>
    </div>
    {% if roomForm.building.errors %}
      <div>
        {% for error in roomForm.building.errors %}
          <p class="text-danger">{{ error|escape }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-2">
        {{ roomForm.building.label_tag }}
      </div>
      {% if perms.rooms.add_building %}
        <div class="col-8 form-group {% if roomForm.building.errors %}is-invalid{% endif %}">
          {{ roomForm.building }}
        </div>
        <div class="col-2">
          <input  name="newBuilding" type="submit" value="Crea nuovo edificio" class="form-control btn btn-success">
        </div>
      {% else %}
        <div class="col-10 form-group {% if roomForm.building.errors %}is-invalid{% endif %}">
          {{ roomForm.building }}
        </div>
      {% endif %}
    </div>
  </div>
  </fieldset>
  <br/>

<!-- Modify/Add RoomRules -->
  {% if perms.rooms.change_roomRule %}
  <hr/>
  <h1>Modifica orari di apertura</h1>
  <fieldset>
  {% csrf_token %}
    {% for form in roomRuleForm %}
      {% if form.non_field_errors %}
        <div class="row">
            <ol class="list-group">
            {% for error in form.non_field_errors %}
              <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
            {% endfor %}
            </ol>
        </div>
      {% endif %}
    {% endfor %}
    <table class="table">
      <tr>
        <th>Giorno</th>
        <th>Orario di apertura</th>
        <th>Orario di chiusura</th>
        <th>Elimina</th>
        <td class="d-none"></td>
      </tr>
      {% for form in roomRuleForm %}
        <tr>
          <td>
            <div class="form-group {% if form.day.errors %}is-invalid{% endif %}">
              {{ form.day }}
              {% if form.day.errors %}
                <div>
                  {% for error in form.day.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="form-group {% if form.opening_time.errors %}is-invalid{% endif %}">
              {{ form.opening_time }}
              {% if form.opening_time.errors %}
                <div>
                  {% for error in form.opening_time.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="form-group {% if form.closing_time.errors %}is-invalid{% endif %}">
              {{ form.closing_time }}
              {% if form.closing_time.errors %}
                <div>
                  {% for error in form.closing_time.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
              {{ form.DELETE }}
              <button type="button" class="btn btn-danger btn-sm remover d-none">
                <span class="fas fa-trash-alt" aria-hidden="true"></span>
              </button>
              {% if form.DELETE.errors %}
                <div>
                  {% for error in form.DELETE.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
          </td>
          <td class="d-none">{{ form.id }}</td>
        </tr>
      {% endfor %}
    </table>
    {{ roomRuleForm.management_form }}
  </fieldset>
  {% endif %}


<!-- Modify/Add RoomPermissions -->
  {% if perms.rooms.change_roomPermission %}
  <hr/>
  <h1>Modifica permessi</h1>
  <fieldset>
  {% csrf_token %}
    {% for form in RoomPermissionForm %}
      {% if form.non_field_errors %}
        <div class="row">
            <ol class="list-group">
            {% for error in form.non_field_errors %}
              <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
            {% endfor %}
            </ol>
        </div>
      {% endif %}
    {% endfor %}
    <table class="table">
      <tr>
        <th>Gruppo</th>
        <th>Tipo di permesso</th>
        <th>Elimina</th>
        <td class="d-none"></td>
      </tr>
      {% for form in RoomPermissionForm %}
        <tr>
          <td>
            <div class="form-group {% if form.group.errors %}is-invalid{% endif %}">
              {{ form.group }}
              {% if form.group.errors %}
                <div>
                  {% for error in form.group.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="form-group {% if form.permission.errors %}is-invalid{% endif %}">
              {{ form.permission }}
              {% if form.permission.errors %}
                <div>
                  {% for error in form.permission.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
              {{ form.DELETE }}
              <button type="button" class="btn btn-danger btn-sm remover d-none">
                <span class="fas fa-trash-alt" aria-hidden="true"></span>
              </button>
              {% if form.DELETE.errors %}
                <div>
                  {% for error in form.DELETE.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
          </td>
          <td class="d-none">{{ form.id }}</td>
        </tr>
      {% endfor %}
    </table>
    {{ RoomPermissionForm.management_form }}
  </fieldset>
  {% endif %}

  <input type="submit" value="Salva" class="form-control btn btn-info">
</form>
{% endblock main %}
