{% extends "base/layout.html" %}
{% load staticfiles %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'rooms/js/edit.js' %}"></script>
{% endblock head-extra %}

{% block main %}

<form method="POST">
<!-- Modify room -->
  <h1>{% if edit %}Modifica Aula{% else %}Crea nuova aula{% endif %}</h1>
  <fieldset>
  <div>
    {% csrf_token %}
    {% if roomForm.non_field_errors %}
      <div>
        <ol class="list-group">
          {% for error in roomForm.non_field_errors %}
            <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    <div class="form-group {% if roomForm.name.errors %}has-error{% endif %}">
        {{ roomForm.name.label_tag }}
        {% if roomForm.name.errors %}
          <div>
            {% for error in roomForm.name.errors %}
              <p class="text-danger">{{ error|escape }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {{ roomForm.name }}
    </div>
    <div class="form-group {% if roomForm.description.errors %}has-error{% endif %}">
        {{ roomForm.description.label_tag }}
        {% if roomForm.description.errors %}
          <div>
            {% for error in roomForm.description.errors %}
              <p class="text-danger">{{ error|escape }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {{ roomForm.description }}
    </div>
    <div class="form-group {% if roomForm.building.errors %}has-error{% endif %}">
        {{ roomForm.building.label_tag }}
        {% if roomForm.building.errors %}
          <div>
            {% for error in roomForm.building.errors %}
              <p class="text-danger">{{ error|escape }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {% if perms.rooms.add_building %}
          <div class="row">
            <div class="col-xs-10">
              {{ roomForm.building }}
            </div>
            <div class="col-xs-2">
              <input  name="newBuilding" type="submit" value="Crea nuovo edificio" class="form-control btn btn-success">
            </div>
          </div>
        {% else %}
          {{ roomForm.building }}
        {% endif %}
    </div>
  </div>
  </fieldset>
  <br/>

<!-- Modify/Add RoomRules -->
  {% if perms.rooms.change_roomRule %}
  <hr/>
  <h1>Modifica orari di apertura</h1>
  <fieldset>
  {% csrf_token %}
    <table class="table">
      <tr>
        <th>Giorno</th>
        <th>Orario di apertura</th>
        <th>Orario di chiusura</th>
        <th>Elimina</th>
        <td class="hidden"></td>
      </tr>
      <tr>
        {% for form in roomRuleForm %}
          {% if form.non_field_errors %}
            <div class="row">
              <ol class="list-group">
              {% for error in form.non_field_errors %}
                <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
              {% endfor %}
              </ol>
            </div>
          {% endif %}
          <td>
            <div class="form-group {% if form.day.errors %}has-error{% endif %}">
              {{ form.day }}
              {% if form.day.errors %}
                <div>
                  {% for error in form.day.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="form-group {% if form.opening_time.errors %}has-error{% endif %}">
              {{ form.opening_time }}
              {% if form.opening_time.errors %}
                <div>
                  {% for error in form.opening_time.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="form-group {% if form.closing_time.errors %}has-error{% endif %}">
              {{ form.closing_time }}
              {% if form.closing_time.errors %}
                <div>
                  {% for error in form.closing_time.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="{% if form.DELETE.errors %}has-error{% endif %}">
              {{ form.DELETE }}
              <button type="button" class="btn btn-danger btn-xs remover hidden">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
              {% if form.DELETE.errors %}
                <div>
                  {% for error in form.DELETE.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td class="hidden">{{ form.id }}</td>
        </tr>
      {% endfor %}
    </table>
    {{ roomRuleForm.management_form }}
  </fieldset>
  {% endif %}

  <input type="submit" value="Salva" class="form-control btn btn-info">
</form>
{% endblock main %}
