{% extends "base/layout.html" %}
{% load staticfiles %}

{% block head-extra %}
<link href="{% static 'rooms/css/list.css' %}" rel="stylesheet" />
{% endblock head-extra %}

{% block main %}
<h1>Tutte le aule</h1>

<div class="row">
    <div class="col-md-5">
        <p><a href="{% url "rooms:list" %}" class="btn btn-default">Visualizza solo le aule principali</a></p>
    </div>
    <div class="col-md-7">
        <div id="filter" class="text-right">
            <form id="filter-form" method="GET" action="{% url 'rooms:listall' %}" class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon">Filtro: </span>
                    <input type="text" class="form-control" id="search" name="search" value="{{ filterText }}"/>
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-info" value="Cerca" />
                {% if filterText %}
                        <a href="{% url 'rooms:listall' %}" class="btn btn-warning">Cancella ricerca</a>
                {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-striped table-hover" id="table_events">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
        </tr>
    </thead>
    <tbody>
    {% for e in rooms %}
        <tr>
            <td>
                {% if e.important %}
                    <span class="glyphicon glyphicon-star star-color" aria-hidden="true"></span>
                {% endif %}
                <a href="{% url "rooms:details" e.pk %}">{{ e.name }}</a>
            </td>
            <td>{{ e.description }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="2">Nessuna aula trovata.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="pagination" class="container-fluid">
    <ul class="pager">
        {% if list.has_previous %}
        <li class="previous"><a href="{% url 'rooms:listall' list.previous_page_number %}{% if filterText %}?search={{ filterText|urlencode }}{% endif %}"><span>&laquo; Precedenti</span></a></li>
    {% else %}
        <li class="previous disabled"><span>&laquo; Precedenti</span></li>
    {% endif %}
        <li><span>Pagina {{ list.number }} di {{ list.paginator.num_pages }}</span></li>
    {% if list.has_next %}
        <li class="next"><a href="{% url 'rooms:listall' list.next_page_number %}{% if filterText %}?search={{ filterText|urlencode }}{% endif %}"><span>Successivi &raquo;</span></a></li>
    {% else %}
        <li class="next disabled"><span>Successivi &raquo;</span></li>
    {% endif %}
    </ul>
</div>

{% endblock main %}
