{% extends "base/layout.html" %}

{% block main %}
<h1>{{ activity.title }}</h1>
<p>{{ activity.description }}</p>
<table class="table table-striped table-hover">
	<thead>
		<th>Data</th>
		<th>Orario</th>
		<th>Luogo</th>
		<th>Approvazione</th>
	</thead>
	<tbody>
		{% for e in events_list %}
			<tr {% if e.status == 1 %}class="info"{% elif e.status == 2 %}class="danger"{% endif %}>
				<td>{{ e.start | date:'d F Y' }}</td>
				<td>{{ e.start | date:'H:i' }} - {{ e.end | date:'H:i' }}</td>
				<td>{{ e.room.name }}</td>
				<td>{% if e.status == 0 %}Confermata{% elif e.status == 1 %}In attesa{% else %}Rifiutata{% endif %}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock main %}
