{% extends "base/layout.html" %}

{% load staticfiles %}

{% block head-extra %}
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" />
<link href="{% static 'activities/css/detail.css' %}" rel="stylesheet" />

<script type="text/javascript" src="{% static 'js/datatables.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/datatables_custom.js' %}" ></script>
<script type="text/javascript" src="{% static 'activities/js/detail.js' %}"></script>
{% endblock head-extra %}

{% block main %}
<div class="container-fluid">
	<div class="row">
		<div class="col-9 col-sm-10">
			<h1>{{ activity.title }}</h1>
			<h3>
                {% if "A" not in activity.category %}
				    <span class="badge {% if activity.category == 'SN' %}badge-success{% else %}{% if activity.category == 'SM' %}badge-danger{% else %}badge-info{% endif %}{% endif %}">Classe di {{ activity.get_category_display }}</span>
			    {% endif %}
                 {% if activity.professor %}
                    <span class="badge badge-secondary">{{ activity.professor }}</span>
                {% endif %}
                {% if activity.managers.all and user.is_authenticated %}
                        <span class="badge badge-light">Referent{{ activity.managers.all|length|pluralize:"e,i" }}:{% for obj in activity.managers.all %} {{ obj.get_full_name }}{% if not forloop.last %},{% endif %}{% endfor %}</span>
                {% endif %}
            </h3>
		</div>
		{% if user.is_authenticated %}
      {% if perms.activities.change_activity and can_manage_activity %}
				<div class="col-3 col-sm-2">
					<div class="float-right">
                        <h1><a href="{% url "activities:edit" activity.pk %}" class="btn btn-info"><span class="fas fa-edit"></span> Modifica</a></h1>
                    </div>
				</div>
      {% else %}
        {% if perms.events.change_event and is_manager %}
          <div class="col-3 col-sm-2">
            <h1><a href="{% url "activities:editmanager" activity.pk %}" class="btn btn-info"><span class="fas fa-edit"></span> Modifica</a></h1>
          </div>
        {% endif %}
			{% endif %}
    {% endif %}
	</div>
<div>
  {% if activity.description %}
		<div class="row">
			<div class="col-12">
      	<a id="collapseDescriptionControl" class="btn btn-light border border-secondary mb-3" data-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
            Mostra/Nascondi descrizione
        </a>
        	<div class="collapse" id="collapseDescription">
						<div class="card bg-light">
							<div class="card-body">
					    	{{ activity.description|markdown }}
							</div>
						</div>
					</div>
        <br/>
			</div>
		</div>
  {% endif %}
</div>
<table class="table table-striped table-hover" id="events_table">
	<thead>
		<tr>
			<th>Data</th>
			<th>Orario</th>
			<th>Aula</th>
			<th>Approvazione</th>
		</tr>
	</thead>
	<tbody>
		{% for e in events_list %}
			<tr {% if e.status == e.WAITING %}class="table-info"{% elif e.status == e.REJECTED %}class="table-danger"{% endif %}>
				<td><div class="d-none">|{{ e.start | date:'Ymd' }}|</div>{{ e.start | date:'d F Y' }}</td>
				<td>{{ e.start | date:'H:i' }} - {{ e.end | date:'H:i' }}</td>
				<td><a href="{% url "rooms:details" e.room.pk %}">{{ e.room.get_full_name }}</a></td>
				<td>{% if e.status == e.APPROVED %}Confermata{% elif e.status == e.WAITING %}In attesa{% else %}Rifiutata{% endif %}</td>
			</tr>
		{% empty %}
			<tr>
				<td>Nessun evento in questa attivit&agrave;.</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>
{% endblock main %}
