{% extends "base/layout.html" %}

{% load staticfiles %}
{% load markdown %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'activities/js/detail.js' %}"></script>
{% endblock head-extra %}

{% block main %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10">
			<h1>{{ activity.get_full_title }}</h1>
		</div>
		{% if user.is_authenticated %}
        	{% if perms.activities.change_activity %}
				<div class="col-xs-2">
					<h1><a href="{% url "activities:edit" activity.pk %}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Modifica</a></h1>
				</div>
            {% else %}
                {% if perms.events.change_event and is_manager %}
                    <div class="col-xs-2">
                        <h1><a href="{% url "activities:editmanager" activity.pk %}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Modifica</a></h1>
                    </div>
                {% endif %}
			{% endif %}
        {% endif %}
	</div>
    {% if activity.description %}
	<div class="row">
	<div class="col-xs-12">
        <a id="collapseDescriptionControl" class="btn btn-default" data-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
            Mostra/Nascondi descrizione
        </a>
        <div class="collapse" id="collapseDescription"><p>{{ activity.description|markdown }}</p></div>
        <p><br /></p>
	</div>
	</div>
    {% endif %}
</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Data</th>
			<th>Orario</th>
			<th>Aula</th>
			<th>Approvazione</th>
		</tr>
	</thead>
	<tbody>
		{% for e in events_list %}
			<tr {% if e.status == e.WAITING %}class="info"{% elif e.status == e.REJECTED %}class="danger"{% endif %}>
				<td>{{ e.start | date:'d F Y' }}</td>
				<td>{{ e.start | date:'H:i' }} - {{ e.end | date:'H:i' }}</td>
				<td>{{ e.room.name }}</td>
				<td>{% if e.status == e.APPROVED %}Confermata{% elif e.status == e.WAITING %}In attesa{% else %}Rifiutata{% endif %}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock main %}
