{% extends "base/layout.html" %}

{% load staticfiles %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker-it.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.multidatespicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forms.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/translations/it.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.sumoselect.min.js' %}"></script>
<script type="text/javascript" src="{% static 'activities/js/edit.js' %}"></script>
<script type="text/javascript" src="{% static 'activities/js/edit-calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'activities/js/markdownEditor.js' %}"></script>


<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" />

<link href="{% static 'css/jquery-ui.structure.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.theme.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.multidatespicker.css' %}" rel="stylesheet" />
<link href="{% static 'activities/css/edit.css' %}" rel="stylesheet" />
<link href="{% static 'activities/css/markdown.css' %}" rel="stylesheet" />
<link href="{% static 'css/tooltip.css' %}" rel="stylesheet" />
<link href="{% static 'css/sumoselect.min.css' %}" rel="stylesheet" />

<script type="text/javascript">
var waitingRooms = []
var allRooms = []

{% for r in rooms_waiting %}
waitingRooms.push("{{r.pk}}");
{% endfor %}

{% for r in rooms_all %}
allRooms.push("{{r.pk}}");
{% endfor %}
</script>
{% endblock head-extra %}

{% block main %}
<h1>Gestione attività</h1>

<div>
    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div>
                <ol class="list-group">
                    {% for error in form.non_field_errors %}
                        <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
        <!-- TITLE -->
        <div class="form-group row">
            {% if form.title.errors %}
                <div class="col-sm-12 col-md-12">
                    {% for error in form.title.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.title.id_for_label }}" class="control-label">{{ form.title.label }}:</label>
            </div>
            <div class="col-sm-10 col-md-11 {% if form.title.errors %}has-error{% endif %}">
                {{ form.title }}
            </div>
        </div>
        <!-- CLASS, PROFESSOR AND BROCHURE -->
        <div class="form-group row">
            {% if form.category.errors or form.professor.errors or form.brochure.errors %}
                {% if form.category.errors %}
                    <div class="col-sm-4 col-md-3">
                        {% for error in form.category.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                <div class="col-sm-4 col-md-3"><p>&nbsp;</p></div>
                {% endif %}
                {% if form.professor.errors %}
                    <div class="{% if perms.activities.change_brochure %}col-sm-5 col-md-7{% else %}col-sm-8 col-md-9{% endif %}">
                        {% for error in form.professor.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                <div class="{% if perms.activities.change_brochure %}col-sm-5 col-md-7{% else %}col-sm-8 col-md-9{% endif %}"><p>&nbsp;</p></div>
                {% endif %}
                {% if perms.activities.change_brochure %}
                    {% if form.brochure.errors %}
                        <div class="col-sm-3 col-md-2">
                            {% for error in form.brochure.errors %}
                                <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="col-sm-3 col-md-2"><p>&nbsp;</p></div>
                    {% endif %}
                {% endif %}
            {% endif %}
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.category.id_for_label }}" class="control-label">{{ form.category.label }}:</label>
            </div>
            <div class="col-sm-2 col-md-2 {% if form.category.errors %}has-error{% endif %}">
                {{ form.category }}
            </div>
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.professor.id_for_label }}" class="control-label">{{ form.professor.label }}:</label>
            </div>
            <div class="{% if perms.activities.change_brochure %}col-sm-3 col-md-6{% else %}col-sm-6 col-md-8{% endif %} {% if form.professor.errors %}has-error{% endif %}">
                {{ form.professor }}
            </div>
            {% if perms.activities.change_brochure %}
                <div class="col-sm-2 col-md-1">
                  <label for="{{ form.brochure.id_for_label }}" class="control-label">{{ form.brochure.label }}:</label>
                </div>
                <div class="col-sm-1 col-md-1 {% if form.brochure.errors %}has-error{% endif %}">
                  {{ form.brochure }}
                </div>
            {% else %}
                {{ form.brochure.as_hidden }}
            {% endif %}
        </div>
        <!-- MANAGERS AND ARCHIVED -->
        <div class="form-group row">
            {% if form.managers.errors or form.archived.errors %}
                {% if form.managers.errors %}
                    <div class="col-sm-9 col-md-9">
                        {% for error in form.managers.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                <div class="col-sm-9 col-md-9"><p>&nbsp;</p></div>
                {% endif %}
                {% if form.archived.errors %}
                    <div class="col-sm-3 col-md-3">
                        {% for error in form.archived.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                <div class="col-sm-3 col-md-3"><p>&nbsp;</p></div>
                {% endif %}
            {% endif %}
            <div class="col-sm-2 col-md-1">
              <label for="{{ form.managers.id_for_label }}" class="control-label">{{ form.managers.label }}:</label>
            </div>
            <div class="col-sm-7 col-md-9 {% if form.managers.errors %}has-error{% endif %}">
              {{ form.managers }}
            </div>
              <div class="col-sm-2 col-md-1">
                <label for="{{ form.archived.id_for_label }}" class="control-label">{{ form.archived.label }}:</label>
              </div>
            <div class="col-sm-1 col-md-1 {% if form.archived.errors %}has-error{% endif %}">
                {{ form.archived }}
            </div>
        </div>
        <!-- DESCRIPTION -->
        <div class="form-group row">
            {% if form.description.errors %}
                <div class="col-sm-12 col-md-10">
                    {% for error in form.description.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-md-1 control-label">{{ form.description.label }}:</label>
            <div class="col-sm-10 col-md-11 {% if form.description.errors %}has-error{% endif %}">
                {{ form.description }}
            </div>
        </div>
        <!-- EVENTS -->
        <h3>Eventi dell'attivit&agrave;</h3>
        <p>Per rendere effettive le modifiche, rimozioni incluse, si deve premere su 'Salva' in fondo alla pagina.<br>
        Le prenotazioni per le aule dove non si ha il permesso di approvazione verranno messe in attesa di conferma (le righe corrispondenti saranno evidenziate in giallo).</p>
        {% if eventForm.errors %}<p class="text-danger">Correggere gli errori indicati prima di salvare le modifiche.</p>{% endif %}
        <!-- CALENDAR BOOKING -->
        <div class="container-fluid d-none" id="calendar-booking">
            <div class="row">
            	<div class="col-sm-6 col-md-5 col-lg-4">
            		<div id="calendar" class="space-bottom"></div>
            	</div>
            	<div class="col-sm-6 col-md-7 col-lg-8">
                    <div class="form-group row">
                        <label for="{{ emptyForm.room.id_for_label }}" class="col-sm-2 col-md-1 control-label">Aula:</label>
                        <div class="col-sm-10 col-md-11">
                            {{ emptyForm.room }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="{{ emptyForm.start.id_for_label }}" class="col-sm-2 col-md-1 control-label">Inizio:</label>
                        <div class="col-sm-10 col-md-11">
                            {{ emptyForm.start }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="{{ emptyForm.end.id_for_label }}" class="col-sm-2 col-md-1 control-label">Fine:</label>
                        <div class="col-sm-10 col-md-11">
                            {{ emptyForm.end }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="{{ emptyForm.status.id_for_label }}" class="col-sm-2 col-md-1 control-label">Stato:</label>
                        <div class="col-sm-10 col-md-11">
                            {{ emptyForm.status }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 col-md-11">
                            <button type="button" class="btn btn-success" id="add-from-calendar"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Aggiungi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ eventForm.management_form }}
        {% if eventForm.non_form_errors %}
            <div>
                <ol class="list-group">
                    {% for error in eventForm.non_form_errors %}
                        <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
        <table class="table" id="table-events">
            <tr>
                <th>Aula</th>
                <th>Inizio</th>
                <th>Fine</th>
                <th>Stato</th>
                <th>Rimuovi</th>
                <th class="d-none">Ripeti</th>
                <th></th>
            </tr>
            {% for f in eventForm.forms %}
                {% if f.non_field_errors %}
                    <tr>
                        <td colspan="6">
                            {% for error in f.non_field_errors %}
                                <p class="text-danger no-margin-bottom">{{ error|escape }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        {{ f.room }}
                        {% if f.room.errors %}
                            {% for error in f.room.errors %}
                                <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        {{ f.start }}
                        {% if f.start.errors %}
                                {% for error in f.start.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                        {% endif %}
                    </td>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        {{ f.end }}
                        {% if f.end.errors %}
                                {% for error in f.end.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                        {% endif %}
                    </td>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        {{ f.status }}
                        {% if f.status.errors %}
                                {% for error in f.status.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                        {% endif %}
                    </td>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        {{ f.DELETE }}
                        <button type="button" class="btn btn-danger btn-sm remover d-none">
                            <span class="fas fa-trash-alt" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        <button type="button" class="btn btn-warning btn-sm d-none" data-toggle="modal" data-target="#repeat-modal">
                            <span class="fas fa-sync" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td class="d-none{% if f.non_field_errors %} no-border-top{% endif %}">{{ f.id }}{{ f.activity }}</td>
                </tr>
            {% endfor %}
            <tr id="tr-button" class="d-none">
                <td>
                    <input type="button" name="add-button" id="add-button" value="Aggiungi" class="form-control btn btn-success" />
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="d-none" id="tr-empty">
                <td>
                    {{ emptyForm.room }}
                </td>
                <td>
                    {{ emptyForm.start }}
                </td>
                <td>
                    {{ emptyForm.end }}
                </td>
                <td>
                    {{ emptyForm.status }}
                </td>
                <td>
                    {{ emptyForm.DELETE }}
                    <button type="button" class="btn btn-danger btn-sm remover hidden">
                        <span class="fas fa-trash-alt" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm hidden" data-toggle="modal" data-target="#repeat-modal">
                        <span class="fas fa-sync" aria-hidden="true"></span>
                    </button>
                </td>
                <td class="d-none">{{ emptyForm.id }}{{ emptyForm.activity }}</td>
            </tr>
        </table>



        <input type="submit" value="Salva" class="form-control btn btn-info">
    </form>
</div>

<!-- DIALOG FOR REPEAT FUNCTION -->
<div class="modal fade" tabindex="-1" role="dialog" id="repeat-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ripeti</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <p>Ripeti nei giorni:</p>
                    <div id="repeat-form">
                        <div class="form-group">
                            <div class="form-check form-check-inline"><input type="checkbox" name="day" value="1" id="day1" class="form-control form-check-input"><label class="space-right form-check-label" for="day1">Luned&igrave;</label></div>
                            <div class="form-check form-check-inline"><input type="checkbox" name="day" value="2" id="day2" class="form-control form-check-input"><label class="space-right form-check-label" for="day2">Marted&igrave;</label></div>
                            <div class="form-check form-check-inline"><input type="checkbox" name="day" value="3" id="day3" class="form-control form-check-input"><label class="space-right form-check-label" for="day3">Mercoled&igrave;</label></div>
                            <div class="form-check form-check-inline"><input type="checkbox" name="day" value="4" id="day4" class="form-control form-check-input"><label class="space-right form-check-label" for="day4">Gioved&igrave;</label></div>
                            <div class="form-check form-check-inline"><input type="checkbox" name="day" value="5" id="day5" class="form-control form-check-input"><label class="space-right form-check-label" for="day5">Venerd&igrave;</label></div>
                            <div class="form-check form-check-inline"><input type="checkbox" name="day" value="6" id="day6" class="form-control form-check-input"><label class="space-right form-check-label" for="day6">Sabato</label></div>
                            <div class="form-check form-check-inline"><input type="checkbox" name="day" value="0" id="day0" class="form-control form-check-input"><label class="space-right form-check-label" for="day0">Domenica</label></div>
                        </div>
                        <p><br>A partire dal (compreso):</p>
                        <input type="text" name="date-from" id="date-from" class="form-control date">
                        <p><br>Per questo numero di volte:</p>
                        <input type="number" name="repeat-times" id="repeat-times" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" id="btn-repeat">Conferma</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock main %}
