{% extends "base/layout.html" %}

{% load staticfiles %}

{% block head-extra %}
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker-it.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forms.js' %}"></script>
<script type="text/javascript" src="{% static 'activities/js/edit.js' %}"></script>


<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.structure.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery-ui.theme.css' %}" rel="stylesheet" />
<link href="{% static 'activities/css/edit.css' %}" rel="stylesheet" />

<script type="text/javascript">
var waitingRooms = [] 
var allRooms = []

{% for r in rooms_waiting %}
waitingRooms.push("{{r.pk}}");
{% endfor %}

{% for r in rooms_all %}
allRooms.push("{{r.pk}}");
{% endfor %}
</script>
{% endblock head-extra %}

{% block main %}
<h1>Gestione attività</h1>

<div>
    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div>
                <ol class="list-group">
                    {% for error in form.non_field_errors %}
                        <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
        <!-- TITLE AND ARCHIVED-->
        <div class="form-group">
            {% if form.title.errors or form.archived.errors %}
                {% if form.title.errors %}
                    <div class="col-sm-8 col-md-9">
                        {% for error in form.title.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                <div class="col-sm-8 col-md-9"><p>&nbsp;</p></div>
                {% endif %}
                {% if form.archived.errors %}
                    <div class="col-sm-4 col-md-3">
                        {% for error in form.archived.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                <div class="col-sm-4 col-md-3"><p>&nbsp;</p></div>
                {% endif %}
            {% endif %}
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.title.id_for_label }}" class="control-label">{{ form.title.label }}:</label>
            </div>
            <div class="col-sm-6 col-md-9 {% if form.title.errors %}has-error{% endif %}">
                {{ form.title }}
            </div>
            <div class="col-sm-2 col-md-1">
            <label for="{{ form.archived.id_for_label }}" class="control-label">{{ form.archived.label }}:</label>
            </div>
            <div class="col-sm-2 col-md-1 {% if form.archived.errors %}has-error{% endif %}">
                {{ form.archived }}
            </div>
        </div>
        <!-- DESCRIPTION -->
        <div class="form-group">
            {% if form.description.errors %}
                <div class="col-sm-12 col-md-10">
                    {% for error in form.description.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-md-1 control-label">{{ form.description.label }}:</label>
            <div class="col-sm-10 col-md-11 {% if form.description.errors %}has-error{% endif %}">
                {{ form.description }}
            </div>
        </div>
        <!-- EVENTS -->
        <h3>Appuntamenti dell'attivit&agrave;</h3>
        <p>Per rendere effettive le modifiche, rimozioni incluse, si deve premere su 'Salva' in fondo alla pagina.<br>
        Le prenotazioni per le aule dove non si ha il permesso di approvare la prenotazione verranno messe in attesa di approvazione (le righe saranno evidenziate in giallo).</p>
        {{ eventForm.management_form }}
        {% if eventForm.non_form_errors %}
            <div>
                <ol class="list-group">
                    {% for error in eventForm.non_form_errors %}
                        <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
        <table class="table" id="table-events">
            <tr>
                <th>Aula</th>
                <th>Inizio</th>
                <th>Fine</th>
                <th>Rimuovi</th>
                <th>Ripeti</th>
                <th></th>
            </tr>
            {% for f in eventForm.forms %}
                {% if f.non_field_errors %}
                    <tr>
                        <td colspan="6">
                            {% for error in f.non_field_errors %}
                                <p class="text-danger no-margin-bottom">{{ error|escape }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        {% if f.room.errors %}
                                {% for error in f.room.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                        {% endif %}
                        {{ f.room }}
                    </td>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        {% if f.start.errors %}
                                {% for error in f.start.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                        {% endif %}
                        {{ f.start }}
                    </td>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        {% if f.end.errors %}
                                {% for error in f.end.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                        {% endif %}
                        {{ f.end }}
                    </td>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        {{ f.DELETE }}
                        <button type="button" class="btn btn-danger btn-xs remover hidden">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td {% if f.non_field_errors %}class="no-border-top"{% endif %}>
                        <button type="button" class="btn btn-warning btn-xs hidden" data-toggle="modal" data-target="#repeat-modal">
                            <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td class="hidden{% if f.non_field_errors %} no-border-top{% endif %}">{{ f.id }}{{ f.activity }}</td>
                </tr>
            {% endfor %}
            <tr id="tr-button">
                <td>
                    <input type="button" name="add-button" id="add-button" value="Aggiungi" class="form-control btn btn-success" />
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="hidden" id="tr-empty">
                <td>
                    {{ emptyForm.room }}
                </td>
                <td>
                    {{ emptyForm.start }}
                </td>
                <td>
                    {{ emptyForm.end }}
                </td>
                <td>
                    {{ emptyForm.DELETE }}
                    <a class="btn btn-danger btn-xs remover">
                        <span class="glyphicon glyphicon-trash hidden" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-xs hidden" data-toggle="modal" data-target="#repeat-modal">
                        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                    </button>
                </td>
                <td class="hidden">{{ emptyForm.id }}{{ emptyForm.activity }}</td>
            </tr>
        </table>



        <input type="submit" value="Salva" class="form-control btn btn-info">
    </form>
</div>

<!-- DIALOG FOR REPEAT FUNZTION -->
<div class="modal fade" tabindex="-1" role="dialog" id="repeat-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ripeti</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <p>Ripeti nei giorni:</p>
                    <div id="repeat-form">
                        <div class="form-group">
                            <input type="checkbox" name="day" value="1" id="day1" class="form-control"><label class="space-right" for="day1">Luned&igrave;</label>
                            <input type="checkbox" name="day" value="2" id="day2" class="form-control"><label class="space-right" for="day2">Marted&igrave;</label>
                            <input type="checkbox" name="day" value="3" id="day3" class="form-control"><label class="space-right" for="day3">Mercoled&igrave;</label>
                            <input type="checkbox" name="day" value="4" id="day4" class="form-control"><label class="space-right" for="day4">Gioved&igrave;</label>
                            <input type="checkbox" name="day" value="5" id="day5" class="form-control"><label class="space-right" for="day5">Venerd&igrave;</label>
                            <input type="checkbox" name="day" value="6" id="day6" class="form-control"><label class="space-right" for="day6">Sabato</label>
                            <input type="checkbox" name="day" value="0" id="day0" class="form-control"><label class="space-right" for="day0">Domenica</label>
                        </div>
                        <p><br>A partire dal (compreso):</p>
                        <input type="text" name="date-from" id="date-from" class="form-control date">
                        <p><br>Per questo numero di volte:</p>
                        <input type="number" name="repeat-times" id="repeat-times" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" id="btn-repeat">Conferma</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock main %}