{% extends "base/layout.html" %}
{% load staticfiles %}

{% block head-extra %}
<link href="{% static 'activities/css/list.css' %}" rel="stylesheet" />
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" />

<script type="text/javascript" src="{% static 'js/datatables.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'activities/js/list.js' %}" ></script>
{% endblock head-extra %}

{% block main %}
<h1>Tutte le attività</h1>

<div class="row">
    <div class="col-md-5">
        <div class="btn-group" role="group">
            <div class="btn-group">
                <a href="{% url "activities:list" %}" class="btn btn-default">Visualizza solo le attività principali</a>
            </div>
            {% if user.is_authenticated %}
              {% if perms.activities.add_activity %}
                <div class="btn-group">
                    <a href="{% url "activities:new" %}" class="btn btn-success">Nuova</a>
                </div>
              {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-7">
        <div id="filter" class="text-right">
            <form id="filter-form" method="GET" action="{% url 'activities:listall' %}" class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon">Filtro: </span>
                    <input type="text" class="form-control" id="search" name="search" value="{{ filterText }}"/>
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-info" value="Cerca" />
                {% if filterText %}
                        <a href="{% url 'activities:listall' %}" class="btn btn-warning">Cancella ricerca</a>
                {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-striped table-hover" id="table_events">
    <thead>
        <tr>
            <th>Classe</th>
            <th>Titolo</th>
            <th>Professore</th>
            <th>Periodo</th>
            {% if user.is_authenticated %}
                {% if perms.activities.change_activity and managed_category_exists or perms.events.change_event and manages_something %}
                    <th class="text-center">Modifica</th>
                {% endif %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for e in list %}
        <tr>
            <td>
                {% if e.category != "A" %}
                    {{ e.category }}
                {% endif %}
            </td>
            <td>
                {% if not e.archived %}
                    <span class="glyphicon glyphicon-star star-color" aria-hidden="true"></span>
                {% endif %}
                <a href="{% url "activities:details" e.pk %}">{{ e.get_full_title }}</a>
            </td>
            <td>{{ e.professor }}</td>
            <td>{{ e.min_start | date:'F Y' }} - {{ e.max_end | date:'F Y' }}</td>
            {% if user.is_authenticated %}
                {% if perms.activities.change_activity and e.category in managed_category  %}
                    <td class="text-center">
                        <a href="{% url "activities:edit" e.pk %}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                {% else %}
                    {% if perms.events.change_event and manages_something %}
                        {% if e in managed_activities %}
                            <td class="text-center">
                                <a href="{% url "activities:editmanager" e.pk %}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td colspan="2">Nessuna attività trovata.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="pagination" class="container-fluid">
    <ul class="pager">
        {% if list.has_previous %}
        <li class="previous"><a href="{% url 'activities:listall' list.previous_page_number %}{% if filterText %}?search={{ filterText|urlencode }}{% endif %}"><span>&laquo; Precedenti</span></a></li>
    {% else %}
        <li class="previous disabled"><span>&laquo; Precedenti</span></li>
    {% endif %}
        <li><span>Pagina {{ list.number }} di {{ list.paginator.num_pages }}</span></li>
    {% if list.has_next %}
        <li class="next"><a href="{% url 'activities:listall' list.next_page_number %}{% if filterText %}?search={{ filterText|urlencode }}{% endif %}"><span>Successivi &raquo;</span></a></li>
    {% else %}
        <li class="next disabled"><span>Successivi &raquo;</span></li>
    {% endif %}
    </ul>
</div>

{% endblock main %}
