{% extends "base/layout.html" %}
{% load staticfiles %}

{% block head-extra %}
<link href="{% static 'activities/css/list.css' %}" rel="stylesheet" />
{% endblock head-extra %}

{% block main %}
<h1>Attività</h1>
<div class="container">
    <div class="col-md-5">
        <p>Elenco delle attività principali. <a href="{% url "activities:listall" %}" class="btn btn-default">Visualizza anche archiviate</a></p>
    </div>
    <div class="col-md-7">
        <div id="filter" class="text-right">
            <form id="filter-form" method="GET" action="{% url 'activities:list' %}" class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon">Filtro: </span>
                    <input type="text" class="form-control" id="search" name="search" value="{{ filterText }}"/>
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-info" value="Cerca" />
                {% if filterText %}
                        <a href="{% url 'activities:list' %}" class="btn btn-warning">Cancella ricerca</a>
                {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table table-striped table-hover" id="table_events">
    <thead>
        <tr>
            <th>Titolo</th>
            <th>Descrizione</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for e in list %}
        <tr>
            <td>{{ e.title }}</td>
            <td>{{ e.description }}</td>
            <td><a href="{% url "activities:details" e.pk %}" class="btn btn-info">Dettagli</a></td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">Nessuna attività trovata.</td>
        </tr>  
    {% endfor %}
    </tbody>
</table>

{% endblock main %}
