{% extends "base/layout.html" %}

{% block head-extra %}
{% endblock head-extra %}

{% block main %}
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

    <h1>Accedi</h1>

    {% if form.errors %}
    <div class="alert alert-danger">
        <p>Nome utente o password non corretti.</p>
    </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <div class="alert alert-danger">
            <p>Non disponi dei permessi per accedere a questa pagina. <br>
            Accedi con un account con permessi sufficenti oppure <a href="{% url 'events:calendar' %}">torna alla pagina principale</a>.</p>
        </div>
        {% else %}
        <div class="alert alert-warning">
            <p>Accedi per continuare.</p>
        </div>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'authentication:login-local' %}" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}" class="control-label col-sm-2">{{ form.username.label }}:</label>
        <div class="col-sm-10">
            <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" {% if form.username.value %}value="{{ form.username.value }}"{% endif %} maxlength="{{ form.username.field.max_length }}" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.password.id_for_label }}" class="control-label col-sm-2">{{ form.password.label }}:</label>
        <div class="col-sm-10">
            <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <input type="submit" value="Accedi" class="btn btn-success form-control" />
        </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <div>
        <p><br><a href="{% url 'authentication:password_reset' %}">Password dimenticata?</a></p>
    </div>
</div>
{% endblock main %}
