Scuola Galileiana di Studi Superiori - Padova
Booking system

Carissimo/a {{ user.get_full_name|default:user.username }},

hai richiesto il reset della password per il tuo account {{ user.username }},
clicca sul link seguente per procedere.
Nel caso non funzionasse copia e incolla nel tuo browser il link.


{{ protocol}}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}


Si prega di non rispondere a questa mail: l'indirizzo non è abilitato per la ricezione di messaggi.

Cordialmente,
    gli amministratori