{% extends "base/layout.html" %}

{% block head-extra %}
{% endblock head-extra %}

{% block main %}
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

    <h1>Reset password</h1>

    <div>
    {% if validlink %}
    <p class="lead">Scegliere una nuova password per il prorpio account.</p>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div>
                <ol class="list-group">
                    {% for error in form.non_field_errors %}
                        <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}

         {% for f in form %}
        <div class="form-group">
            {% if f.errors %}
                <div class="col-sm-12">
                    {% for error in f.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <label for="{{ f.id_for_label }}" class="control-label col-sm-4">{{ f.label }}:</label>
            <div class="col-sm-8">
                <input type="password" id="{{ f.id_for_label }}" name="{{ f.html_name }}" class="form-control">
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" value="Conferma" class="btn btn-success form-control" />
            </div>
        </div>
    </form>
    {% else %}
    <div class="alert alert-danger">
        <p>Il link risulta scaduto o invalido.<br>Si prega di ripetere la procedura per reimpostare la propria password.</p>
    </div>

    <p><br><a href="{% url 'authentication:password_reset' %}" class="btn btn-warning">Reset password</a><br><br>
    <a href="{% url 'events:calendar' %}" class="btn btn-info">Pagina principale</a></p>
    {% endif %}
    </div>
</div>
{% endblock main %}
