{% extends "base/layout.html" %}

{% block head-extra %}
{% endblock head-extra %}

{% block main %}
<h1>Reset password</h1>

<div class="panel panel-default">
    <div class="panel-body">
Abbiamo inviato le istruzioni per reimpostare la password all'indirizzo email che hai indicato.<br>
Dovresti riceverle a breve a patto che l'indirizzo che hai inserito sia valido.<br><br>

Se non ricevi un messaggio email, accertati di aver inserito l'indirizzo con cui ti sei registrato, e controlla la cartella dello spam.
    </div>
</div>

<div>
<p><br><a href="{% url 'events:calendar' %}" class="btn btn-info">Vai alla pagina principale</a></p>
</div>
{% endblock main %}
