{% extends "base/layout.html" %}
{% load staticfiles %}

{% block main %}

<div class="row lead error-message">
    <div class="col-lg-6 jumbotron " style="vertical-align: middle;">
    <div class="">
        <h1>Errore del server</h1>
    </div>
    <div>
        <p>Si è verificato un errore durante l'elaborazione della pagina.<br />
        Gli amministratori sono stati avvisati.</p>
    </div>
    </div>
    <div class="col-lg-6">
    <img src="{% static 'img/500.png' %}" alt="Errore del server"/>
    </div>
</div>

{% endblock main %}
